<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :server_name %><br />
    <%= f.text_field :server_name %>
  </div>
  <div class="field">
    <%= f.label :server_id %><br />
    <%= f.text_field :server_id %>
  </div>
  <div class="field">
    <%= f.label :attr_name %><br />
    <%= f.text_field :attr_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
