    <div class="alert-container">
      <table class = "table table-hover table-bordered">
        <thead>
          <th> Server Name </th>
          <th> Server ID </th>
          <th> Attribute </th>
          <th> Alert Time </th>
        </thead>
        <tbody id="table">
 
            <% Alert.each do |alert| %>
            <tr class='alert' onMouseOver="vis4(<%= alert.server_id %>, '<%= alert.server_name %>', '<%= alert.attr %>', '<%= alert.time_stamp.to_i.to_s %>')">
                <td><%= alert.server_name %></td>
                <td><%= alert.server_id %></td>
                <td><%= alert.attr %></td>
                <td><%= Time.at(alert.time_stamp) %></td>
                <td><a class="btn" href="#" onclick="get_modal('<%=alert.id%>')" data-toggle="modal" data-target="#myModal">show</a>
                </td>
                <td><%= link_to 'delete', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>

        </tbody>
      </table><!--  End of alert box -->
    </div>

            <%= yield %>
