<h1>Listing alerts</h1>

<table>
  <tr>
    <th>Server name</th>
    <th>Server</th>
    <th>Time stamp</th>
    <th>Attr</th>
    <th>Reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alerts.each do |alert| %>
  <tr>
    <td><%= alert.server_name %></td>
    <td><%= alert.server_id %></td>
    <td><%= alert.time_stamp %></td>
    <td><%= alert.attr %></td>
    <td><%= alert.reason %></td>
    <td><%= link_to 'Show', alert %></td>
    <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
    <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alert', new_alert_path %>
