<!DOCTYPE html>
  <head>
    <title>AppFirst Alerting</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script src="http://d3js.org/topojson.v1.min.js"></script>
  </head> 
  <body>

    <script type="text/javascript"> populate_database() </script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" class="text-center" href="#">Automated Alerting</a>
        <ul class="nav nav-tabs">
<!--           <li><a href="#" onclick="begin_analysis(6324);">Test</a></li> -->
          <li><a href="/toggle_error">Toggle Error</a></li>
          <li class = "dropdown">      
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servers</a>
            <ul class="dropdown-menu" id="attr_nav">
              <%= render "servers/showall" %>
            </ul>
          </li>
          <li class = "dropdown">      
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">New Request</a>
            <div class="dropdown-menu" id="attr_nav">
              <%= render "requests/form" %>
            </div>
          </li>
          <li class = "dropdown">      
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Show Requests</a>
            <div class="dropdown-menu" id="attr_nav">
              <%= render "requests/showall" %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="modal fade" id="myModal"></div>

    <div class="spinner" id="spinner">
    </div>

    <div class="table">
      <%= render "alerts/table" %>
    </div>
  
    <div class="svg_container">
      <script type='text/javascript'>
        // vis5("6325", "hbase-regionserver0","page_faults", "1373500980");
        vis3("6325", "hbase-regionserver0","page_faults");
        start_spin();
      </script>
    </div>

    <% Request.each do |r|%>
        <script type='text/javascript'>begin_analysis(<%= r.server_id %>,"<%= r.attr_name %>");</script>
    <% end %>

    <%= yield %>

  </body>
</html>